!!! 5
%html
  %head
    %title PissWhistle
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=UTF-8"}
    %meta{:content => 'yes', :name => 'apple-mobile-web-app-capable'}
    %meta{:name=>"viewport", :content=>"initial-scale=1.0, width=device-width, maximum-scale=1.0"}
    %script{:type=>"text/javascript", :src=>"/javascripts/sprockets.js"}
    %script{:type=>"text/javascript", :src=>"http://use.typekit.com/edu5hrl.js"}
    %script{:type=>"text/javascript"}
      try{Typekit.load();}catch(e){}
    :plain
      <!--[if gte IE 7]><!--> 
        <link href="/app.css" media="screen" rel="stylesheet" type="text/css" />        
      <!-- <![endif]--> 
  %body
    #content  
      #header.fixed
        %h1
          %a{:href => "/"}
            PissWhistle
        #top
        #user_info
          %a#notifications{:title => "Desktop Notifications", :href => "#"}
      =yield
      #footer.fixed
